@charset "UTF-8";
@import "global.css";

@import url(../css/global.css);

.writingctnr {
    display: flex;
    width: 70%;
    height: auto;
    justify-self: center;
    box-shadow: 3px 3px 10px 0 #000000;
}

.writingctnr img {
    width: 100%;
}

#samples {
    margin-left: 30px;
}

#samples div {
    margin: 30px 0;
}

h2 {
    margin-left: 20px;
} 

/* Responsive Style */ 

@media screen and (min-width: 945px) {
    #samples div {
        width: 60%;
        justify-self: center;
    }
}